@{
    ViewData["Title"] = "Home";
}

<!-- ================= HERO ================= -->

<section class="hero">

    <div class="hero-overlay">

        <h1>Find Your Perfect Home</h1>

        <p>
            Browse thousands of apartments & houses for rent across Cambodia
        </p>

        <!-- House Type Selector -->

        <div class="house-types">

            <button class="active">
                🏠 House
            </button>

            <button>
                🏡 Villa
            </button>

            <button>
                🏢 Condo
            </button>

            <button>
                🏬 Apartment
            </button>

            <button>
                🛏 Studio
            </button>

        </div>

        <!-- Search -->

        <div class="search-box">
            <center input type="text" placeholder="Search by city or province..." /></center>
            @* <input
                type="text"
                placeholder="Search by city or province..." /> *@
            

        </div>

    </div>

</section>





